<div class="container">
    <h3>Welcome, {{user.firstName}}.</h3>
    <h3>{{u.userName}}</h3>
    {{#each friends}}
    <div class="row card-panel teal lighten-2">
        <div class="col s8"><a href="#" class="white-text">{{userName}}</a></div>
        <div class="col s2 material-icons"><a href="/chat/{{roomId}}" class="white-text">chat</a></div>
        <div class="col s2 material-icons"><a href="/friends/delete/{{roomId}}" class="white-text">delete</a></div>
    </div>
    {{/each}}
</div>